[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multiclassPairs"]
	path = multiclassPairs
	url = https://github.com/nourmarzouka/multiclasspairs
	shallow = true
	registered = true
